<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Document</title>
    <style>
        button{
            display: inline-block;
        } 
    </style>
</head>

    <!-- <div id="hide" >
        <h1>выберете игроков</h1>
        <h2>первый игрок</h2>
        <div id="chooseYouHero" v-if='isElvisible'>
            <select v-model="selected" multiple>
                <option>данилка</option>
                <option>степка</option>
                <option>никитка</option>
            </select>
        <br>
        <span>{{ selected }}</span>
        </div>

        <h2>второй игрок</h2>
        <div id="chooseYouHero2" v-if='isElvisible'>
            <select v-model="selected" multiple>
                <option>данилка</option>
                <option>степка</option>
                <option>никитка</option>
            </select>
            <br>
            <span>{{ selected }}</span>
        </div>
        
    </div>
    <button @click="toggleElem">готово</button> -->













    <div id="app">
        <div v-show="visible">
            <h1>выберете игроков</h1>
            <h2>первый игрок</h2>
            <div id="chooseYouHero">
                <select v-model="selected" multiple>
                    <option>данилка</option>
                    <option>степка</option>
                    <option>никитка</option>
                </select>
            <br>
            <span>{{ selected }}</span>
            </div>
    
            <h2>второй игрок</h2>
            <div id="chooseYouHero2">
                <select v-model="selected" multiple>
                    <option>данилка</option>
                    <option>степка</option>
                    <option>никитка</option>
                </select>
                <br>
                <span>{{ selected }}</span>
            </div>



        </div>
        <button v-on:click="visible=!visible">готово</button>
    </div>
    <div id="chooseYouHero2">
    
    </div>










    <!-- <div id="gamePilon">
        
        <div><button class="str1" v-on:click.once="doThis">0</button><button class="str1" v-on:click.once="doThis">0</button><button class="str1" v-on:click.once="doThis">0</button></div>
        <div><button class="str2" v-on:click.once="doThis">0</button><button class="str2" v-on:click.once="doThis">0</button><button class="str2" v-on:click.once="doThis">0</button></div>
        <div><button class="str3" v-on:click.once="doThis">0</button><button class="str3" v-on:click.once="doThis">0</button><button class="str3" v-on:click.once="doThis">0</button></div>
    </div> -->

</html>